<a href="https://colab.research.google.com/github/davidgonzalez14/clase_de_econometria-/blob/main/Taller_Econometria_David_Gonz%C3%A1lez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Punto 1

In [8]:
def suma(lista):
    suma = 4
    for number in lista:
        suma += number
    return suma

lista1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
resul = suma(lista1)
print(resul)

49

#Punto 2

In [2]:
def common_elements(lista1, lista2):
    common = []
    for elemt in lista1:
        if elemt in lista2 and elemt not in common:
            common.append(elemt)
    return common

lista1 = [1, 2, 3, 4, 5, 6]
lista2 = [3, 4, 5, 6, 7, 9]
resul2 = common_elements(lista1, lista2)
print(resul2)

[3, 4, 5, 6]

#Punto 3

#Punto 4

In [4]:
def pares(lista):
    pares = []
    for num in lista:
        if num % 2 == 0:
            pares.append(num)
    return pares

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = pares(numeros)
print(pares)

[2, 4, 6, 8, 10]

#Punto 5

In [7]:
def empiecé_a(lista):
    a_cadenas = []
    for cadena in lista:
        if cadena[0] == "a":
            a_cadenas.append(cadena)
    return a_cadenas

cadenas = ["anatomico", "rosa", "antonimo", "alegría", "taza", "angel", "lazo"]
a_cadenas = empiecé_a(cadenas)
print(a_cadenas)

['anatomico', 'antonimo', 'alegría', 'angel']

#Punto 6

In [15]:
def valor_para_clave(diccionario, clave):
    if clave in diccionario:
        return diccionario[clave]
    else:
        return None

mi_diccionario = {"nombre": "Juan", "edad": 25, "ciudad": "Madrid", "fruta" : "manzana", "meses": 12}
clave1 = "edad"
clave2 = "meses"
valor = valor_para_clave(mi_diccionario, clave1)
valor2 = valor_para_clave(mi_diccionario, clave2)
print(f"El valor asociado con la clave1 '{clave1}' es '{valor}'")
print(f"El valor asociado con la clave2 '{clave2}' es '{valor2}'")

El valor asociado con la clave1 'edad' es '25'
El valor asociado con la clave2 'meses' es '12'

#Punto 7

In [18]:
def diccionarios_con_clave(lista_diccionarios, clave):
    diccionarios = []
    for diccionario in lista_diccionarios:
        if clave in diccionario:
            diccionarios.append(diccionario)
    return diccionarios

lista = [{"nombre": "Daniela", "edad": 18}, {"nombre": "Gabriel", "ciudad": "Manchester"}, {"edad": 59, "ciudad": "Liverpool"}]
clave = "edad"
diccionarios_con_clave_edad = diccionarios_con_clave(lista, clave)
print(diccionarios_con_clave_edad)

[{'nombre': 'Daniela', 'edad': 18}, {'edad': 59, 'ciudad': 'Liverpool'}]

#Punto 8

In [20]:
def intercambiar_claves_valores(diccionario):
    nuevo_diccionario = {}
    for clave, valor in diccionario.items():
        nuevo_diccionario[valor] = clave
    return nuevo_diccionario

mi_diccionario = {"nombre": "David", "edad": 20, "ciudad": "Manchester"}
nuevo_diccionario = intercambiar_claves_valores(mi_diccionario)
print(nuevo_diccionario)

{'David': 'nombre', 20: 'edad', 'Manchester': 'ciudad'}

#Punto 9

In [21]:
def diccionarios_comunes(diccionario1, diccionario2):
    diccionario_comun = {}
    for clave in diccionario1.keys():
        if clave in diccionario2:
            if diccionario1[clave] == diccionario2[clave]:
                diccionario_comun[clave] = diccionario1[clave]
    return diccionario_comun

diccionario1 = {"nombre": "Camilo", "edad": 25, "ciudad": "Paris"}
diccionario2 = {"nombre": "Eduar", "edad": 30, "ciudad": "Paris"}
diccionario_comun = diccionarios_comunes(diccionario1, diccionario2)
print(diccionario_comun)

{'ciudad': 'Paris'}

#Punto 10

In [22]:
def ordenar_claves(diccionario):
    claves_ordenadas = sorted(diccionario.keys())
    diccionario_ordenado = {}
    for clave in claves_ordenadas:
        diccionario_ordenado[clave] = diccionario[clave]
    return diccionario_ordenado

diccionario = {"nombre": "Jhon", "edad": 25, "ciudad": "Barranquilla"}
diccionario_ordenado = ordenar_claves(diccionario)
print(diccionario_ordenado)

{'ciudad': 'Barranquilla', 'edad': 25, 'nombre': 'Jhon'}

#Punto 11

In [11]:

def suma(a, b):
    return a + b
result = suma(32, 58)
print(result)

90

#Punto 12

In [23]:
def filtrar_cadenas_longitud(cadenas, longitud):
    return [cadena for cadena in cadenas if len(cadena) > longitud]
cadenas = ["hi", "bye", "good morning", "good afternoon", "good night"]
cadenas_largas = filtrar_cadenas_longitud(cadenas, 5)
print(cadenas_largas)

['good morning', 'good afternoon', 'good night']

#Punto 13

In [25]:
def es_palindromo(cadena):
    cadena_sin_espacios = cadena.replace(" ", "").lower()
    return cadena_sin_espacios == cadena_sin_espacios[::-1]
cadena = "Son robos o sobornos"
if es_palindromo(cadena):
    print("La cadena es un palíndromo")
else:
    print("La cadena no es un palíndromo")

La cadena es un palíndromo

#Punto 14

In [27]:
def promedio(lista):
    return sum(lista) / len(lista) if len(lista) > 0 else None
lista = [4, 8, 15, 16, 21, 23, 42, 50]
promedio_lista = promedio(lista)
print("El promedio de la lista es:", promedio_lista)

El promedio de la lista es: 22.375

#Punto 15

In [29]:
def obtener_claves(diccionario):
    return list(diccionario.keys())
d = {'a': 4, 'b': 5, 'c': 6}
claves = obtener_claves(d)
print(claves)

['a', 'b', 'c']

#Punto 16

In [30]:
def obtener_maximo(lista):
    return max(lista) if len(lista) > 0 else None
lista = [4, 8, 10, 15, 16, 21, 23, 42, 48]
maximo = obtener_maximo(lista)
print("El valor máximo en la lista es:", maximo)

El valor máximo en la lista es: 48

#Punto 17

In [31]:
def obtener_vocales(cadena):
    vocales = ""
    for caracter in cadena:
        if caracter in "aeiouAEIOU":
            vocales += caracter
    return vocales
cadena = "Hola, mundo!"
vocales = obtener_vocales(cadena)
print("Las vocales en la cadena son:", vocales)

Las vocales en la cadena son: oauo

#Punto 18

In [32]:
def valores_al_cuadrado(lista):
    valores_cuadrados = []
    for numero in lista:
        valores_cuadrados.append(numero ** 2)
    return valores_cuadrados
lista = [1, 2, 3, 4, 5, 6, 7, 8]
valores_cuadrados = valores_al_cuadrado(lista)
print("Los valores al cuadrado de la lista son:", valores_cuadrados)

Los valores al cuadrado de la lista son: [1, 4, 9, 16, 25, 36, 49, 64]

#Punto 19

In [34]:
def invertir_cadena(cadena):
    return cadena[::-1]
cadena = "adan"
cadena_invertida = invertir_cadena(cadena)
print("La cadena invertida es:", cadena_invertida)

La cadena invertida es: nada

#Punto 20

In [38]:
def longitud_cadenas(lista_cadenas):
    return [len(cadena) for cadena in lista_cadenas]
lista_cadenas = ["oso", "nada", "radar", "atacar"]
longitudes = longitud_cadenas(lista_cadenas)
print("Las longitudes de las cadenas son:", longitudes)

Las longitudes de las cadenas son: [3, 4, 5, 6]